# Package to install to build the document
sphinxcontrib-bibtex>=1.0.0
sphinx-tabs>=1.3.0
sphinx-click>=2.5.0
markupsafe==2.0.1
# myst-parser==0.12.10
# myst-nb==0.10.1
jupytext>=1.7.1
jupyter-book>=0.8.3
torchsummary>=1.5.1
clinicadl==1.1.0
jupyterlab>=1.2.21
